version: '3.8'

services:
  gateway:
    image: nginx:latest
    container_name: nginx-gateway
    ports:
      - '80:80'
    volumes:
      - ../server/nginx-gateway/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - auth-service
      - users-service-1
      - users-service-2
      - chats-service
    networks:
      - frontend

  auth-service:
    build:
      context: ../server/auth-service
    container_name: auth-service
    command: ./wait-for-db.sh auth-db ./auth-service
    environment:
      - DB_HOST=auth-db
      - DB_USER=user
      - DB_PORT=5432
      - DB_PASSWORD=password
      - DB_NAME=authdb
      - USERS_SERVICE_1_URL=http://users-service-1:8080
      - USERS_SERVICE_2_URL=http://users-service-2:8080
    depends_on:
      auth-db:
        condition: service_healthy
    networks:
      - frontend
      - backend

  users-service-1:
    build:
      context: ../server/user-service
    container_name: users-service-1
    command: ./wait-for-db.sh users-db ./users-service
    environment:
      - DB_HOST=users-db
      - DB_USER=user
      - DB_PORT=5432
      - DB_PASSWORD=password
      - DB_NAME=usersdb
      - REPLICA_ID=instance-1
      - AUTH_SERVICE_URL=http://auth-service:8080
    depends_on:
      users-db:
        condition: service_healthy
    networks:
      - frontend
      - backend

  users-service-2:
    build:
      context: ../server/user-service
    container_name: users-service-2
    command: ./wait-for-db.sh users-db ./users-service
    environment:
      - DB_HOST=users-db
      - DB_USER=user
      - DB_PORT=5432
      - DB_PASSWORD=password
      - DB_NAME=usersdb
      - REPLICA_ID=instance-2
      - AUTH_SERVICE_URL=http://auth-service:8080
    depends_on:
      users-db:
        condition: service_healthy
    networks:
      - frontend
      - backend

  chats-service:
    build:
      context: ../server/chat-service
    container_name: chats-service
    command: ./wait-for-db.sh chats-db ./chats-service
    environment:
      - DB_HOST=chats-db
      - DB_USER=user
      - DB_PORT=5432
      - DB_PASSWORD=password
      - DB_NAME=chatsdb
    depends_on:
      chats-db:
        condition: service_healthy
    networks:
      - frontend
      - backend

  messages-service:
    build:
      context: ../server/message-service
    container_name: messages-service
    command: ./wait-for-db.sh messages-db ./messages-service
    environment:
      - DB_HOST=messages-db
      - DB_USER=user
      - DB_PORT=5432
      - DB_PASSWORD=password
      - DB_NAME=messagesdb
      - USERS_SERVICE_1_URL=http://users-service-1:8080
      - USERS_SERVICE_2_URL=http://users-service-2:8080
    depends_on:
      messages-db:
        condition: service_healthy
    networks:
      - frontend
      - backend

  auth-db:
    image: postgres:16-alpine
    container_name: auth-db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=authdb
    volumes:
      - auth-db-data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d authdb']
      interval: 5s
      timeout: 5s
      retries: 5

  users-db:
    image: postgres:16-alpine
    container_name: users-db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=usersdb
    volumes:
      - users-db-data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d usersdb']
      interval: 5s
      timeout: 5s
      retries: 5

  chats-db:
    image: postgres:16-alpine
    container_name: chats-db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=chatsdb
    volumes:
      - chats-db-data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d chatsdb']
      interval: 5s
      timeout: 5s
      retries: 5

  messages-db:
    image: postgres:16-alpine
    container_name: messages-db
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=messagesdb
    volumes:
      - messages-db-data:/var/lib/postgresql/data
    networks:
      - backend
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d messagesdb']
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - '5050:80'
    depends_on:
      - auth-db
      - users-db
      - chats-db
      - messages-db
    networks:
      - backend

networks:
  frontend:
  backend:

volumes:
  auth-db-data:
  users-db-data:
  chats-db-data:
  messages-db-data:
